.header {
  background-color: white;
  height: 90px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.6);
  z-index: 3;
  padding-left: 10px;
  padding-right: 10px;
}
